<h1>Bonjour</h1>

<label for="champ">Num de tâche : </label>
<input #input (keyup.Enter)="selectTask(input.value)" type="number" name="champ">
<p *ngIf="taskSelected">Tâche : {{taskSelected.text}}</p>
<p *ngIf="!taskSelected">Aucune tâche</p>
<h2>Les tâches</h2>
<div class="tasks">
    <div class="inside-tasks" *ngFor="let task of list_task" appBorderCard>
        <p>
            Tâche : {{task.text}}
        </p>
        <p>
            Ordre : {{task.order}}
        </p>
        <p> Du : {{task.date | date: 'dd/MM/yyyy'}}
        </p>
        <span class="{{task.status| taskTypeColor}}">{{task.status}}</span>

    </div>
</div>