.inside-tasks{
    padding: 10px;
    margin-top: 5px;
}

.chip-blue {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color:blue;
  }

  .chip-grey {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: gray;
  }